@charset "UTF-8";
body.jour{
	background-color:chartreuse;
}

button.jour{
	padding:5px;	
	border-radius:0;
}

button.jour:hover{
	color:yellow;
	background-color:pink;
}

img.jour{
	border:5px solid purple;
	border-radius:50%;
}

body.nuit{
	background-color:purple;
	color:yellow;
}

button.nuit{
	padding:5px;	
	border-radius:0;
}

button.nuit:hover{
	color:blue;
	background-color:orange;
}

img.nuit{
	border:5px solid red;
	border-radius:50%;
}